.markdownContent .markdownInput
  height 600px

.mailbody
  margin 10px 10px 20px 30px
  padding 10px
  border 1px solid #ccc
  box-shadow 7px 7px 5px 0px rgba(50, 50, 50, 0.75)

@import "/packages/mfactory_admin-lte/css/AdminLTE.min.css"
@import "/packages/mfactory_admin-lte/css/skins/skin-blue.min.css"